<h1>Ikon Reservation Notifications</h1>
<p>Select a resort:</p>
<form action="/reservation-dates" method="GET">
    <select name="resort">
        <option value="" disabled selected>Select a resort</option>
        {{#each available_resorts}}
        <option id="{{this.id}}" value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="submit" />
</form>
<a href="#" id="unlisted-resorts-link" onclick="toggleMissingResortInfo();return false;" style="margin-top: 1em;"><small>Why isn't the Ikon resort I want listed?</small></a>
<div id="unlisted-resorts" style="display: none;">
   <p>Not all resorts make their reservations through Ikon's website - some host their own system which is inaccessible.</p> 
   <p>Some resorts don't require reservations at all. Check below to see if that's the case for you.</p>
   <div style="display: flex; justify-content: space-between;">
        <div id="column-one">
            <p>Resorts that don't require reservations:</p>
            <ul>
                {{#each non_reservation_resorts}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </div>
        <div id="column-two">
            <p>Resorts that run their own reservation systems:</p>
            <ul>
                {{#each non_available_resorts}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </div>
   </div>
</div>

<script>
function toggleMissingResortInfo() {
    var info = document.getElementById("unlisted-resorts");
    console.log(info.style.display);
    if (info.style.display == "none") {
        info.style.display = "block";
    } else {
        info.style.display = "none";
    }
}
</script>
